@inject IQueueClient _queueClient;

<MatPortalHost />

<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>There is nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected override Task OnInitializedAsync() =>
        _queueClient.EnqueueAsync(new ConnectHub(attemptsLeft: 3), CancellationToken.None);
}
